<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.assignment2">

    <application
        android:allowBackup="true"
        android:icon="@drawable/friendship"
        android:label="@string/app_name"
        android:roundIcon="@drawable/friendsy"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SearchActivity" android:parentActivityName=".Launch"> </activity>
        <activity android:name=".UpdateActivity" android:parentActivityName=".Launch"/>
        <activity android:name=".ShowFriends" android:parentActivityName=".Launch"/>
        <activity android:name=".MainActivity" android:parentActivityName=".Launch"/>
        <activity android:name=".Launch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>